<header>
     <h1> Minlyn.C </h1>
  <nav>
     <ul>
        <li><a href="/">Home</a></li>
        
          <!--<button class="dropbtn">Project</button>-->
          
            
          
        <div class="dropdown">
        <li> <a  href="#"> Projects </a>
          <div class="dropdown-content">
          <a href="/UIUX"> UI/UX Design</a>
          <a href="/graphic">Graphic Design</a>
          <a href="#">JavaScript</a>
          </div>
          </li>
        </div>
        
        <li><a href="/about">About</a></li>
        <li><a href="/contact"> Contact </a> </li>
         
      </ul>
    </nav>

    </header>