<nav>
     
      <ul>
        <li> <a href="index.html"> 
          Home </a>
        </li>
        
          <!--<button class="dropbtn">Project</button>-->
          
            
          
        <div class="dropdown">
        <li> <a  href="#"> Projects </a>
          <div class="dropdown-content">
>         <a href="UIUX.html"> UI/UX Design</a>
          <a href="graphic.html">Graphic Design</a>
          <a href="#">JavaScript</a>
          </div>
          </li>
        </div>
        
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">
           Contact </a> </li>
         
      </ul>
    </nav>

    jjj