
header{
  background-color:#1f1e1f;
  height:150px;
  width:auto;
  border-bottom: 3px solid;
  color:#fff;
  /*border-image: linear-gradient(to right, darkorchid,#f242f5) 1;*/
  
  }
  
  header h1{
    font-family: 'League Gothic', sans-serif;
    font-size:40px;
    position:absolute;
    padding:10px;
    top:65px;
  }
  
  
nav{
    position:absolute;
    top:80px;
    right:35px;
    
  }
  nav li{
  display:inline-block;
  margin:20px;
  font-size:20px;
  color:#fff;
  
  }
  nav a:hover{
    color:#aa64e3;
  }
  
  
  nav li:hover{
    color:#aa64e3;
  }
  
  
  footer{
    background-color:#1f1e1f;
    padding:20px;
    
  }
  
  footer li{
    display:inline-block;
    position:relative;
    
  }
  
  nav ul{
   list-style-type:none;
    
  }
  nav a{
    /*display:inline-block;/*一块一块的让导航看起来 it makes navigation look like block*/
    text-decoration:none;
    color:#fff;}
  
  /* drop menue star here*/
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  /* hide the drop content*/
  .dropdown-content {
      display: none;
      position: absolute;
      top:60px;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
      color: black;
      padding: 20px 16px;
      
      font-size:16px;
      text-decoration: none;
      display: block;
  }
  /* 鼠标移上去后修改下拉菜单链接颜色 */
  .dropdown-content a:hover {
    background-color: #ede5ff}
  
  /* 在鼠标移上去后显示下拉菜单 */
  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  /* css for drop menue end here*/